<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote for the Best Outfit</title>
    <link rel="stylesheet" href="/css/vote.css">

</head>
<script src="/js/vote.js"></script>
<body>

    <!-- Back to Home Button -->
    <a href="/home" class="back-home">⬅</a>

    <!-- Theme Title -->
    <h1 class="theme-title">Week's Theme: <%= todayTheme %></h1>


    <!-- Vote Container -->
    <div class="vote-container">
        <!-- Left Side (Cat 1) -->
        <div class="left-half" onclick="submitVote('<%= cat1.id %>')">
            <p class="cat-description"><%= cat1.description ? cat1.description : "Vote for me!" %></p>
            <img src="<%= cat1.image %>" class="cat-image">
        </div>

        <!-- Right Side (Cat 2) -->
        <div class="right-half" onclick="submitVote('<%= cat2.id %>')">
            <p class="cat-description"><%= cat2.description ? cat2.description : "Vote for me!" %></p>
            <img src="<%= cat2.image %>" class="cat-image">
        </div>
    </div>

</body>
</html>
